
body{
  margin: 0px;
  top: 0px;
  background-color: white;
}
#stilocentral h1{
  font-size: 60pt;
}
.branco{
  color: white;
}
#posts{
  font-size: 32pt;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
hr{
  margin: 110px 50px 20px 50px;
}
#post a{
  color: rgb(100, 100, 100);
  font-size: 20px;
}
.contact{
  color: black;
}
#postage1{
  float: left;
  color: rgb(100, 100, 100);
  font-family: monospace;
  margin: 30px auto;
  width: 40%;
  height: 450px;
  background: url(../img/post.jpg);
  background-size: cover;
}
#post a{
  position: static;
  top: 400px;
}
#postage2{
  float: right;
  color: rgb(100, 100, 100);
  font-family: monospace;
  margin: 30px auto;
  width: 40%;
  height: 450px;
  background: url(../img/post2.jpg);
  background-size: cover;
}
/*
#postage2{
  float: right;
  color: rgb(100, 100, 100);
  font-family: monospace;
  margin: 30px auto 10px auto;
  width: 450px;
  height: 450px;
  background: url(../img/post2.jpg);
  background-size: cover;
}*/